.header{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.opciones{
    margin-top: 6px;
    color: var(--color-primario);
    font-size: 12px;
}
.compra{
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.compra p{
    margin: 0;
    font-family: sans-serif;
}
.infoPro{
    width: 100%;
}
select{
    border: 1px solid #c1bbbb;
}
.total{
    background-color: var(--color-secundario);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 -4px 8px rgba(94, 94, 94, 0.5);
}
.des{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.des span{
    font-size: 12px;
}
.ptotal span{
    font-size: 15px;
    font-weight: bold;
}
.comprar{
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 40px;
    color: white;
    border: none;
    background-color: var(--color-primario);
    margin-bottom: 25px;
}
.main{
    position: absolute;
}